<article><div id="readability-page-1">
                                <p>
                                    Séries, documentaires, programmes jeunesse… Retrouvez les recommandations de <em>Libération</em> pour savoir quoi regarder sur vos écrans cette semaine.
                                </p>
                                <h3>
                                    Pour dépasser le tabac
                                </h3>
                                <p>
                                    <strong><em>Vape Wave</em> (documentaire, 1h28, Planète+)</strong>
                                </p>
                                
                                <p>
                                    Pendant quelques jours, le doute a plané : l’Etat comptait-il vraiment légiférer contre la cigarette dans les films français, que ce soit via une interdiction pure et simple ou via un système de «punition» (coupe des aides CNC, par exemple) pour les longs-métrages qui sentent le mégot ? Si <a href="https://www.liberation.fr/direct/element/agnes-buzyn-assure-quelle-na-jamais-envisage-linterdiction-de-la-cigarette-au-cinema_73855/" target="_blank">le rétropédalage de la ministre Buzyn</a> n’en est pas vraiment un (elle n’avait jamais clairement menacé le septième art), la polémique a le mérite de pointer la (sur)représentation clopesque sur écran. Et si, comme c’est le cas dans la vie quotidienne, on voyait progressivement les cigarettes électroniques remplacer les tiges nicotinées authentiques ? Que ceux qui mettraient en doute le potentiel cinématographique des vapoteuses se ruent sur <a href="http://www.vapewave.net/" target="_blank"><em>Vape Wave</em></a>, documentaire militant signé Jan Kounen, ex-fumeur reconverti à la vape dont les images magnifient les volutes de vapeur recrachée.
                                </p>
                                <p>
                                    Si le film du réalisateur de <em>Dobermann</em> et <em>99 Francs</em> part un peu dans tous les sens, il a le mérite de défendre avec une passion contagieuse ce qui semble, de loin, être <a href="https://www.liberation.fr/societe/2015/08/20/une-e-cigarette-tres-frequentable_1366687" target="_blank">le meilleur et plus sain substitut à la clope</a>, n’en déplaise aux mesures restrictives imposées en France <a href="https://www.liberation.fr/france/2017/10/03/la-cigarette-electronique-bannie-de-certains-lieux-publics_1600601" target="_blank">à son égard</a>. Financé en partie via crowdfunding, le documentaire a été présenté par Kounen à travers toute la France lors de projection tenant quasiment de l’évangélisation. Disponible en VOD/DVD, il a été diffusé cette semaine sur la chaîne Planète+, qui le rediffusera les 25/11, 30/11 et 02/12 prochains. <strong>(Alexandre Hervaud)</strong>
                                </p>
                                <h3>
                                    Pour écouter parler un génie
                                </h3>
                                <p>
                                    <strong><em>Dans la tête d’Alan Moore</em> (websérie documentaire, 8x5min, Arte Creative)</strong>
                                </p>
                                
                                <p>
                                    Le week-end dernier, <em>Libération</em> publiait <a href="http://next.liberation.fr/livres/2017/11/17/alan-moore-dernier-barde-avant-la-fin-du-monde_1610854" target="_blank">un portrait de der consacré à l’auteur britannique Alan Moore</a>, connu pour ses BD cultes (<em>V pour Vendetta, Watchmen, From Hell</em>), à l’occasion de la sortie de son deuxième roman, le pavé <em>Jérusalem</em>. En attendant l’imminente sortie d’une version longue de son entretien avec <em>Libé</em>, on pourra se replonger dans les épisodes d’une websérie documentaire d’Arte Creative en 8 épisodes consacré au maître. Brexit, magie, Anonymous font partie des sujets discutés avec le maître au fil de ce programme sobrement intitulé <a href="https://www.arte.tv/fr/videos/RC-014342/dans-la-tete-d-alan-moore/" target="_blank"><em>Dans la tête d’Alan Moore</em></a>. <strong>(A.H.)</strong>
                                </p>
                                <h3>
                                    Pour honorer la mémoire d’une icône queer
                                </h3>
                                <p>
                                    <strong><em>The Death and Life of Marsha P. Johnson</em> (docu, 1h45, Netflix)</strong>
                                </p>
                                
                                <p>
                                    Marsha, la <em>«Rosa Parks du mouvement LGBTQ»</em>. Marsha <em>«la prostituée, l’actrice et la sainte, modèle d’Andy Warhol»</em> ou encore Marsha l’élaborée, la radicale, <em>«avec ses plumes et ce maquillage qu’elle ne mettait jamais bien»</em>. «Queen Marsha» a été retrouvée morte dans l’Hudson en juillet 1992, alors qu’on la voyait encore parader dans les rues de Greenwich Village quelques jours auparavant. Un choc glaçant. Là où son corps a été repêché puis ingratement déposé, les sans-abri ont constitué le lendemain un mémorial de bouteilles et de plantes qui délimitent les contours de l’absente.
                                </p>
                                <p>
                                    Marsha P. Johnson de son nom complet, icône queer, femme transgenre noire américaine et emblème de la lutte pour les droits des LGBTQ avait été l’une des premières à s’engager lors des émeutes de Stonewall à New York, en 1969 : <em>«C’est la révolution. Dieu merci.»</em> Marsha était une fleur souriante au parfum d’espoir. Le documentaire <em>The Death and Life of Marsha P. Johnson</em> du cinéaste David France relate l’enquête de l’activiste Victoria Cruz, membre de l’organisation Anti-Violence Project à New York qui, avant de prendre sa retraite, réclame que lumière soit faite sur la disparition de l’icône […] <a href="http://next.liberation.fr/cinema/2017/11/17/docu-marsha-p-johnson-unique-en-son-genre_1610846" target="_blank">Lire la suite de la critique de Jérémy Piette sur Libération.fr</a>
                                </p>
                                <h3>
                                    Pour Michel Vuilermoz (et rien d’autre)
                                </h3>
                                <p>
                                    <strong><em>Alphonse President</em> (série, 10x26, OCS Max)</strong>
                                </p>
                                
                                <p>
                                    Un temps baptisée <em>French Touch</em>, la série <em>Alphonse Président</em> est le dernier né des programmes originaux made in OCS. On savait les budgets de la chaîne bien moins généreux que ceux de Canal+ (voire que ceux de France 3 Limousin), et cette série le prouve à nouveau régulièrement, notamment lors d’une scène de conférence de presse alternant plans larges d’une authentique conf' à l’Elysée période François Hollande et plans serrés d’acteurs filmés dans un château des Pays de la Loire où a eu lieu le tournage. Le principal atout (et quel atout) de cette série écrite et réalisée par Nicolas Castro (<em>Des lendemains qui chantent</em>, 2014) réside dans son interprète principal, Michel Vuillermoz.
                                </p>
                                <p>
                                    Dans le rôle d’un sénateur ringard devenu par un concours de circonstances président de la République, ce pensionnaire de la Comédie-Française et complice d’Albert Dupontel fait des merveilles, notamment lorsque le scénario lui prête des répliques enflammées typiques de la langue de bois politicienne – pas étonnant qu’il brasse du vent, son personnage de prof d’histoire retraité s’appelle Alphonse Dumoulin. C’est lorsqu’il n’est plus à l’écran que les choses se gâtent : si Jean-Michel Lahmi (de la bande d’Edouard Baer) fait le job en grand patron des flics, difficile de croire une seconde à Nabiha Akkari dans le rôle de la Première ministre – et pas uniquement parce que l’idée d’avoir une femme trentenaire issue de la diversité à Matignon sonne hélas comme un doux rêve en 2017. Si, en matière de fiction politique sérieuse, un <em>Baron Noir</em> n’a pas grand-chose à envier à un <em>House of Cards</em>, côté comique la France est encore loin d’avoir son <em>Veep</em>. Gageons que la génération LREM saura largement inspirer des scénaristes moqueurs. <strong>(A.H.)</strong>
                                </p>
                                <h3>
                                    Pour les coulisses d’un tournage dément
                                </h3>
                                <p>
                                    <strong><em>Jim &amp; Andy</em> (documentaire, 1h33, Netflix) </strong>
                                </p>
                                
                                <p>
                                    A la sortie de <em>Man on the Moon</em> (2000), le magnifique film de Milos Forman consacré à Andy Kaufman – comique et génie de la performance absurde mort en 1984 –, le cinéaste et les acteurs insistaient dans chaque interview sur l’in­croyable comportement de Jim Carrey pendant le tournage : il aurait été comme possédé par Kaufman, se prenant pour lui 24 heures sur 24. Certains affirmaient même ne jamais avoir eu l’impression que l’acteur était présent, tant son modèle avait littéralement pris sa place. Nous en avons aujourd’hui la preuve en images car tout cela avait été filmé par Bob Zmuda et Lynne Margulies, l’ancien complice et la veuve de Kaufman.
                                </p>
                                <p>
                                    Dans le passionnant <em>Jim &amp; Andy : the Great Beyond</em>, disponible sur Netflix, Chris Smith a monté ces documents inédits parallèlement à un entretien dans lequel Jim Carrey revient sur cette expérience unique. <a href="http://next.liberation.fr/cinema,58" target="_blank">Lire la suite de la critique de Marcos Uzal sur Liberation.fr</a>
                                </p>
                                <h3>
                                    Pour un trip sibérien en totale autarcie
                                </h3>
                                <p>
                                    <strong><em>Braguino</em> (documentaire, 50min, Arte)</strong>
                                </p>
                                
                                <p>
                                    La querelle peut se trouver derrière toutes les portes, y compris celle de l’exil. On a beau croire avoir tourné le dos à tout, à cette inclination humaine à nourrir sa propre haine, l’allergie peut regermer fissa sur une peau qui frissonne à l’approche de ce voisin que l’on ne comprend pas. Issu d’une lignée de vieux-croyants orthodoxes russes, Sacha Braguine a pris sa famille sous le bras, loin de toute autre présence humaine en taïga sibérienne. Un autre groupe, les Kiline, a décidé d’en faire de même et de s’installer de l’autre côté de la rivière. Qui est arrivé en premier ? Qui menace l’autre ? L’histoire de l’impossible communauté peut commencer.
                                </p>
                                <p>
                                    La lecture d’<em>Ermites dans la taïga</em> (1992) de Vassili Peskov, authentique récit sur la famille Lykov opérant une migration similaire en 1938, a poussé l’artiste <a href="http://next.liberation.fr/images/2017/09/29/clement-cogitore-j-essaye-de-raconter-les-terreurs-profondes-de-l-etre-humain_1599854" target="_blank">Clément Cogitore</a> à rencontrer les Braguine, puis à se faire témoin de la bisbille de voisinage en 2016. Il en est revenu avec un nouveau film d’une cinquantaine de minutes : <em>Braguino,</em> soutenu par le prix Le Bal de la jeune création avec l’ADAGP.Le documentaire y frôle son déguisement fictionnel, tant ce qui s’y déroule convoque une dramaturgie comme invoquée par on ne sait quel rituel vaudou […] <a href="http://next.liberation.fr/cinema/2017/10/30/braguino-prises-de-bec-dans-la-taiga_1606859" target="_blank">Lire la suite de la critique de Jérémy Piette sur Liberation.fr</a>, le film diffusé cette semaine sur Arte est visible en intégralité ci-dessus.
                                </p>
                                <h3>
                                    Pour un thriller tiré de faits réels
                                </h3>
                                <p>
                                    <strong><em>6 Days</em> (film, 1h34, Netflix)</strong>
                                </p>
                                
                                <p>
                                    Fin avril 1980, l’ambassade d’Iran à Londres a été le théâtre d’une prise d’otages largement médiatisée : une trentaine de personnes ont ainsi été retenues pendant six jours par des soldats iraniens dissidents exigeant la libération de 91 prisonniers. Avec Margaret Thatcher au 10 Downing Street à l’époque, pas question pour l’Angleterre d’avoir l’air mou du genou sur la réponse à apporter à cette crise scrutée par les caméras du monde entier. Le SAS (Special Air Service) est sur le coup : l’opération Nimrod se met en place pour prendre d’assaut l’ambassade.
                                </p>
                                <p>
                                    Inspiré par cet épisode, <em>6 Days</em> de Toa Fraser (<em>The Dead Lands</em>, 2014) est un thriller carré pouvant compter sur l'autorité naturelle de Mark Strong (<em>Kingsman</em>) ici recyclé en flic londonien et sur la néo-badass attitude de Jamie Bell, bien loin du freluquet danseur de <em>Billy Elliot</em> puisqu'on le retrouve ici en soldat chargé d’organiser l’opération de secours. Attention, la bande-annonce ci-dessus dévoile à peu près l’intégralité des scènes d’action du film. <strong>(A.H.)</strong>
                                </p><p><span><span><a href="https://www.liberation.fr/auteur/5631-alexandre-hervaud" target="_blank">Alexandre Hervaud</a></span> , <span><a href="https://www.liberation.fr/auteur/17350-jeremy-piette" target="_blank">Jérémy Piette</a></span></span>
                            </p></div></article>