<article><DIV id="readability-page-1"><div>
                                                        <p>The <a href="https://www.engadget.com/2017/06/13/the-xbox-one-x-is-aspirational-in-the-purest-sense-of-the-word/" target="_blank">Xbox
                                                                One X</a> is the ultimate video game system. It sports
                                                                more horsepower than any system ever. And it plays more
                                                                titles in native 4K than <a href="https://www.engadget.com/2016/11/07/sony-playstation-4-pro-review/" target="_blank">Sony's
                                                                    PlayStation 4 Pro</a>. It's just about everything
                                                                you could want without investing in a gaming PC. The
                                                                only problem? It's now been a year since the PS4 Pro
                                                                launched, and the One X costs $500, while Sony's console
                                                                launched at $400. That high price limits the Xbox One X
                                                                to diehard Microsoft fans who don't mind paying a bit
                                                                more to play the console's exclusive titles in 4K.
                                                                Everyone else might be better off waiting, or opting for
                                                                the $279 <a href="https://www.engadget.com/2016/08/02/xbox-one-s-review/" target="_blank">Xbox
                                                                    One S</a>. </p>
                                                    </div><section>
                                                            <h4> Gallery: Xbox One
                                                                X | 14 Photos </h4>
                                                            <div data-behavior="lightbox_trigger" data-engadget-slideshow-id="803271" data-eng-bang="{&quot;gallery&quot;:803271,&quot;slide&quot;:7142088,&quot;index&quot;:0}" data-eng-mn="93511844"><p><a href="#" data-index="0" data-engadget-slide-id="7142088" data-eng-bang="{&quot;gallery&quot;:803271,&quot;slide&quot;:7142088,&quot;index&quot;:0}">
                                                                <img src="https://o.aolcdn.com/images/dims?thumbnail=980%2C653&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F714%2F208%2F8%2FS7142088%2Fslug%2Fl%2Fxbox-one-x-review-gallery-1-1.jpg&amp;client=cbc79c14efcebee57402&amp;signature=9bb08b52e12de8e4060f863a52c613489529818d"/>
                                                            </a></p>
                                                                
                                                            </div>
                                                        </section><div>
                                                        
                                                        
                                                        <div>
                                                                <div>
                                                                    
                                                                    <ul>
                                                                        <li>Most
                                                                            powerful hardware ever in a home console
                                                                        </li>
                                                                        <li>Solid
                                                                            selection of enhanced titles
                                                                        </li>
                                                                        <li>4K Blu-ray
                                                                            drive is great for movie fans
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div>
                                                                    
                                                                    <ul>
                                                                        <li>Expensive
                                                                        </li>
                                                                        <li>Not worth
                                                                            it if you don’t have a 4K TV
                                                                        </li>
                                                                        <li>Still no VR
                                                                            support
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        <div>
                                                            
                                                            <p>As promised, the Xbox One X is the
                                                                most powerful game console ever. In practice, though, it
                                                                really just puts Microsoft on equal footing with Sony’s
                                                                PlayStation 4 Pro. 4K/HDR enhanced games look great, but
                                                                it’s lack of VR is disappointing in 2017.</p>
                                                        </div>
                                                    </div><div>
                                                
                                                <div>
                                                                <h3>Hardware</h3>
                                                                <p><img data-credit="Devindra Hardawar/AOL" data-mep="2181678" src="https://o.aolcdn.com/images/dims?crop=1600%2C1067%2C0%2C0&amp;quality=85&amp;format=jpg&amp;resize=1600%2C1067&amp;image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F93beb86758ae1cf95721699e1e006e35%2F205826074%2FXbox%2BOne%2BX%2Breview%2Bgallery%2B7.jpg&amp;client=a1acac3e1b3290917d92&amp;signature=c0f2d36259c2c1decfb60aae364527cda2560d4a" alt=""/></p>
                                                                <p>Despite all the power inside, the One X is
                                                                    Microsoft's smallest console to date. It looks
                                                                    similar to the Xbox One S, except it has an entirely
                                                                    matte black case and is slightly slimmer. It's also
                                                                    surprisingly dense -- the console weighs 8.4 pounds,
                                                                    but it feels far heavier than you'd expect for its
                                                                    size, thanks to all of its new hardware. The One S,
                                                                    in comparison, weighs two pounds less.</p>
                                                                <p>The Xbox One X's real upgrades are under the hood. It
                                                                    features an 8-core CPU running at 2.3Ghz, 12GB of
                                                                    GDDR5 RAM, a 1 terabyte hard drive and an upgraded
                                                                    AMD Polaris GPU with 6 teraflops of computing power.
                                                                    The PS4 Pro has only 8GB of RAM and tops out at 4.2
                                                                    teraflops. Microsoft's console is clearly faster.
                                                                    That additional horsepower means the Xbox One X can
                                                                    run more games in full native 4K than the Sony's
                                                                    console.</p>
                                                                <p><img data-credit="Devindra Hardawar/AOL" data-mep="2182489" src="https://o.aolcdn.com/images/dims?crop=1600%2C949%2C0%2C0&amp;quality=85&amp;format=jpg&amp;resize=1600%2C949&amp;image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F9ece7fdad1e7025dec06ac9bf98688d0%2F205826075%2FXbox%2BOne%2BX%2Breview%2Bgallery%2B5.jpg&amp;client=a1acac3e1b3290917d92&amp;signature=9913883753141e7df322616bfe0bc41c6ecd80c8" alt=""/></p>
                                                                <p>Along the front, there's the slot-loading 4K Blu-ray
                                                                    drive, a physical power button, a single USB port
                                                                    and a controller pairing button. And around back,
                                                                    there are HDMI out and in ports, the latter of which
                                                                    lets you plug in your cable box. Additionally, there
                                                                    are two USB ports, connections for optical audio, IR
                                                                    out, and gigabit Ethernet. If you've still got a
                                                                    Kinect around, you'll need to use a USB adapter to
                                                                    plug it in.</p>
                                                            </div>
                                                <div data-engadget-breakout-type="image">
                                                            <figure><img src="https://o.aolcdn.com/images/dims?resize=980%2C640&amp;quality=100&amp;image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1599%252C1043%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C1043%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252F8b98ec8f6649158fe7448ac2f2695ac5%252F205826072%252FXbox%252BOne%252BX%252Breview%252Bgallery%252B6.jpg%26client%3Da1acac3e1b3290917d92%26signature%3D353dad1308f98c2c9dfc82c58a540a8b2f1fe63c&amp;client=cbc79c14efcebee57402&amp;signature=60b7c061460d0d45f5d367b8a9c62978af6b76ce"/>
                                                                <figcaption><span>Devindra Hardawar/AOL</span>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                <div>
                                                                <p>The console's controller hasn't changed since its
                                                                    last mini-upgrade with the Xbox One S. That revision
                                                                    rounded out its seams, improved bumper performance
                                                                    and added a 3.5mm headphone jack. It's still a great
                                                                    controller, though I'm annoyed Microsoft is sticking
                                                                    with AA batteries as their default power source.
                                                                    Sure, you could just pick up some renewable
                                                                    batteries, or the Play and Charge kit, but that's an
                                                                    extra expense. And manually swapping batteries feels
                                                                    like a bad user experience when every other console
                                                                    has rechargeable controllers.</p>
                                                                <h3>In use</h3>
                                                            </div>
                                                <div data-engadget-breakout-type="image">
                                                            <figure><img src="https://o.aolcdn.com/images/dims?resize=980%2C640&amp;quality=100&amp;image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1600%252C900%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C900%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252F1885534bd201fc37481b806645c1fc8b%252F205828119%252FXbox%252Bone%252BX%252Bscreenshot%252Bgallery%252B8.jpg%26client%3Da1acac3e1b3290917d92%26signature%3Df63cf67c88b37fd9424855984e45f6b950c8c11a&amp;client=cbc79c14efcebee57402&amp;signature=0adca80fc8ee26a7353be639082881450a5ad49f"/>
                                                                <figcaption><span>Devindra Hardawar/AOL</span>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                <div>
                                                                <p>You won't find any major differences between the One
                                                                    X and the last Xbox at first — aside from a more
                                                                    dramatic startup sequence. Navigating the Xbox
                                                                    interface is fast and zippy, but mostly that's due
                                                                    to a recent OS upgrade. If you're moving over from
                                                                    an older Xbox One, you can use the backup tool to
                                                                    transfer your games and settings to an external hard
                                                                    drive. Just plug that into the new console during
                                                                    setup and it'll make it feel just like your old
                                                                    machine. It's also a lot faster than waiting for
                                                                    everything to download from Xbox Live.</p>
                                                                <p>You'll still have to set aside some time if you want
                                                                    to play an Xbox One X-enhanced title, though. Those
                                                                    4K textures will make games significantly larger,
                                                                    but Microsoft says it's come up with a few ways to
                                                                    help developers make downloading them more
                                                                    efficient. For example, language packs and other
                                                                    optional content won't get installed by default.</p>
                                                                <p>We only had a few enhanced titles to test out during
                                                                    our review: <em>Gears of War 4</em>, <em>Killer
                                                                        Instinct</em> and <em>Super Lucky's Tale</em>.
                                                                    They each took advantage of the console in different
                                                                    ways. <em>Gears of War 4</em> runs natively in 4K at
                                                                    30 FPS with Dolby Atmos and HDR (high dynamic range
                                                                    lighting) support. It looked great -- especially
                                                                    with HDR, which highlighted bright elements like
                                                                    lightning strikes -- but I noticed the frame rate
                                                                    dip occasionally. I was also surprised that load
                                                                    times were on-par with what I've seen with the game
                                                                    on the Xbox One S.</p>
                                                            </div>
                                                <div data-engadget-breakout-type="e2ehero">
                                                                            
                                                                            <figure><img src="https://o.aolcdn.com/images/dims?crop=1600%2C900%2C0%2C0&amp;quality=85&amp;format=jpg&amp;resize=1600%2C900&amp;image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F8352a8a14e88e2ca2ba5be4d8381a055%2F205828115%2FXbox%2Bone%2BX%2Bscreenshot%2Bgallery%2B1.jpg&amp;client=a1acac3e1b3290917d92&amp;signature=d2ccb22e0eaabeb05bfe46e83dbe26fd07f01da8"/>
                                                                                
                                                                            </figure>
                                                                        </div>
                                                <div>
                                                                <p>You can also play in Performance mode, which bumps
                                                                    the frame rate up to 60FPS and uses higher quality
                                                                    graphical effects, while rendering it lower in
                                                                    1080p. Personally, I preferred this, since it makes
                                                                    the game much smoother -- as if you're playing it on
                                                                    a high-end gaming PC, not a console. Some
                                                                    PlayStation 4 Pro games also let you choose how you
                                                                    wanted to distribute its power, so in some ways
                                                                    Microsoft is just following in its footsteps.</p>
                                                                <p>I've been playing <em>Gears of War 4</em> on my
                                                                    gaming PC (which is connected to my home theater)
                                                                    over the past year, and I was impressed that the
                                                                    Xbox One X is able to deliver a similar experience.
                                                                    It didn't quite match my rig though, which is
                                                                    powered by Intel Core i7 4790k CPU running at 4GHz,
                                                                    16GB DDR3 RAM and an NVIDIA GTX 1080 GPU. Typically,
                                                                    I play at 1,440p (2,560 by 1,440 pixels) with HDR
                                                                    and all of the graphical settings set to their
                                                                    highest level, and I can easily maintain a 60FPS
                                                                    frame rate. The One X felt just as solid at 1080p,
                                                                    but there were clearly plenty of graphics settings
                                                                    it couldn't take advantage of, in particular higher
                                                                    levels of bloom lighting and shadow detail.</p>
                                                                
                                                            </div>
                                                
                                                <section data-engadget-breakout-type="gallery">
                                                                <h3> Gallery: Xbox
                                                                    One X screenshots | 9 Photos </h3>
                                                                <div data-behavior="lightbox_trigger" data-engadget-slideshow-id="803330" data-eng-bang="{&quot;gallery&quot;:803330,&quot;slide&quot;:7142924}" data-eng-mn="93511844"><p><a href="#" data-index="0" data-engadget-slide-id="7142924" data-eng-bang="{&quot;gallery&quot;:803330,&quot;slide&quot;:7142924}">
                                                                    <img src="https://o.aolcdn.com/images/dims?thumbnail=980%2C653&amp;quality=80&amp;image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F714%2F292%2F4%2FS7142924%2Fslug%2Fl%2Fxbox-one-x-screenshot-gallery-2-1.jpg&amp;client=cbc79c14efcebee57402&amp;signature=38c95635c7aad58a8a48038e05589f5cf35b1e28"/>
                                                                </a></p>
                                                                    
                                                                </div>
                                                            </section>
                                                <div>
                                                                <p><em>Killer Instinct</em> and <em>Super Lucky's
                                                                    Tale</em> run in 4K at a smooth 60FPS. They both
                                                                    looked and played better than their standard
                                                                    versions, though I was surprised they didn't take
                                                                    advantage of HDR. As usual, I noticed the
                                                                    improvement in frame rates more than the higher
                                                                    resolution. Unless you're sitting very close to a TV
                                                                    above 50-inches, you'd likely have a hard time
                                                                    telling between 4K and 1080p.</p>
                                                                <p>That poses a problem for Microsoft: It's betting that
                                                                    gamers will actually want true 4K rendering. In
                                                                    practice, though, PlayStation 4 Pro titles running
                                                                    in HDR and resolutions between 1080p and 4K often
                                                                    look just as good to the naked eye. The Xbox One X's
                                                                    big advantage is that its hardware could let more
                                                                    games reach 60FPS compared to Sony's console.</p>
                                                                <p>Microsoft says over 130 Xbox One X-enhanced titles
                                                                    are in the works. That includes already-released
                                                                    games like <em>Forza Motorsport 7</em> and <em>Assassin's
                                                                        Creed Origins</em>, as well as upcoming titles
                                                                    like <em>Call of Duty: WW2</em>. You'll be able to
                                                                    find them easily in a special section in the Xbox
                                                                    store. There is also a handful of Xbox 360 games
                                                                    that'll get enhanced eventually, including <em>Halo
                                                                        3</em> and <em>Fallout 3</em>. Some of those
                                                                    titles will get bumped up to a higher resolution,
                                                                    while others will get HDR support. Microsoft
                                                                    describes these upgrades as a bonus for developers
                                                                    who were prescient about how they built their games.
                                                                    Basically, don't expect your entire 360 library to
                                                                    get enhanced.</p>
                                                            </div>
                                                <div data-engadget-breakout-type="e2ehero">
                                                                            
                                                                            <figure><img src="https://o.aolcdn.com/images/dims?crop=1600%2C900%2C0%2C0&amp;quality=85&amp;format=jpg&amp;resize=1600%2C900&amp;image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Facb08903fbe26ad77b80db8c8e7e8fb1%2F205828118%2FXbox%2Bone%2BX%2Bscreenshot%2Bgallery%2B7.jpg&amp;client=a1acac3e1b3290917d92&amp;signature=21630fa5ec6d8fdce2c35f7e1f652636a2d8efe7"/>
                                                                                
                                                                            </figure>
                                                                        </div>
                                                <div>
                                                                <p>Even if a game isn't specifically tuned for the new
                                                                    console, Microsoft says you might still see some
                                                                    performance improvements. The PlayStation 4 Pro,
                                                                    meanwhile, has over one hundred games built for its
                                                                    hardware, and its boost mode can speed up some older
                                                                    games.</p>
                                                                <p>Microsoft is still pushing the Xbox as more than just
                                                                    a game console, though. 4K Blu-rays loaded up
                                                                    quickly, and I didn't notice many delays as I
                                                                    skipped around films. <em>Planet Earth II</em>, in
                                                                    particular, looked fantastic thanks to its brilliant
                                                                    use of HDR. Unfortunately, the One X doesn't support
                                                                    Dolby Vision, so you're stuck with the slightly less
                                                                    capable HDR 10 standard. That makes sense since it's
                                                                    more widely supported, but it would have been nice
                                                                    to see Dolby's, too.</p>
                                                                
                                                                <p>And speaking of Dolby technology, Microsoft is also
                                                                    highlighting Atmos support on the One X, just like
                                                                    it did with the One S. The company's app lets you
                                                                    configure the console to pass audio Atmos signals to
                                                                    your audio receiver. You can also shell out $15 to
                                                                    get Atmos support for headphones, which simulates
                                                                    immersive surround sound. It's strange to pay money
                                                                    to unlock Dolby features, but it's worth it since
                                                                    it's significantly better than Microsoft's audio
                                                                    virtualization technology. The Netflix app also
                                                                    supports Atmos for a handful of films (something
                                                                    that the Xbox One S and PlayStation 4 offer, as
                                                                    well).</p>
                                                                <p>One thing you won't find in the new Xbox is VR
                                                                    support. Microsoft has mentioned that the console
                                                                    will offer some sort of mixed reality, but it hasn't
                                                                    offered up any details yet. It's technically
                                                                    powerful enough to work with any of the Windows
                                                                    Mixed Reality headsets launching this fall. It's a
                                                                    shame that Microsoft is being so wishy-washy because
                                                                    Sony has had a very successful head start with the
                                                                    PlayStation VR.</p>
                                                                <h3>Pricing and the competition</h3>
                                                            </div>
                                                <div data-engadget-breakout-type="image">
                                                            <figure><img src="https://o.aolcdn.com/images/dims?resize=980%2C640&amp;quality=100&amp;image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1600%252C1027%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C1027%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252Fa2c8ba1caccdbb9e0559797e5141eafd%252F205826078%252FXbox%252BOne%252BX%252Breview%252Bgallery%252B11.jpg%26client%3Da1acac3e1b3290917d92%26signature%3Da11bcddced805c6e3698f8ce0494102aef057265&amp;client=cbc79c14efcebee57402&amp;signature=1e9bd192add2772bc842a34e67b7572cfd1b265a"/>
                                                                <figcaption><span>Devindra Hardawar/AOL</span>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                <div>
                                                                <p>The biggest knock against the Xbox One X is its $500
                                                                    price. The PS4 Pro launched at $400 last year, and
                                                                    there's a good chance we'll see plenty of deals
                                                                    around the holidays. If your friends are on Xbox
                                                                    Live, or you're a devotee of Microsoft's first party
                                                                    franchises, then the X makes more sense. If you just
                                                                    want to play third-party titles that come to both
                                                                    platforms, though, the PS4 Pro is clearly the better
                                                                    deal.</p>
                                                                <p>If you're looking to upgrade from an original Xbox
                                                                    One, and you have a new TV, the One X might be more
                                                                    compelling. It's faster and offers more features
                                                                    than the One S, and more importantly, it'll last you
                                                                    much longer without needing an upgrade. There's also
                                                                    plenty of wisdom in simply waiting a while before
                                                                    you buy the One X, especially if you haven't moved
                                                                    to a 4K TV yet. The new console can make games look
                                                                    better on 1080p sets, since it'll supersample
                                                                    high-res textures and have more graphical effects,
                                                                    but it's simply not worth the upgrade since those
                                                                    TVs don't support HDR.</p>
                                                                <p>If price isn't a huge concern for you, it's worth
                                                                    considering investing in a gaming PC. A decent one
                                                                    costs between $600 and $800, plus the price of a
                                                                    monitor, but it'll easily be more powerful than the
                                                                    One X. And you have the added benefit of upgrading
                                                                    components down the line. Now that Microsoft and
                                                                    game publishers are offering most major titles on
                                                                    PC, you won't be missing out on much by ditching
                                                                    consoles.</p>
                                                                <h3>Wrap-up</h3>
                                                                <p><img data-credit="Devindra Hardawar/AOL" data-mep="2181681" src="https://o.aolcdn.com/images/dims?crop=1600%2C1028%2C0%2C0&amp;quality=85&amp;format=jpg&amp;resize=1600%2C1028&amp;image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F5396460ef8b6bde7fb7272d9e66a7701%2F205826076%2FXbox%2BOne%2BX%2Breview%2Bgallery%2B9.jpg&amp;client=a1acac3e1b3290917d92&amp;signature=f5b5b4b986c2f8b5031a4469ae0ecec82aff65b0" alt=""/></p>
                                                                <p>Ultimately, the Xbox One X offers some major
                                                                    performance upgrades that gamers will notice --
                                                                    especially if you're coming from an original Xbox
                                                                    One. But it's also a bit disappointing since it's
                                                                    coming a year after the PS4 Pro, and it doesn't
                                                                    offer VR yet. For Microsoft fans, though, none of
                                                                    that will matter. It's exactly what the company
                                                                    promised: the fastest game console ever made.</p>
                                                            </div>
                                                
                                                
                                            </div></DIV></article>